.signAre {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  --theme-Color: rgb(239, 239, 240);
}

.logMain {
  width: 400px;
  /* min-height: 100px; */
  background: rgb(0 0 0 /0.4);
  position: absolute;
  padding: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px #717171;
  transition: all 500ms;
}

.logAre,
.sigAre {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* gap: 20px; */
  height: auto;
  transition: all 500ms ease;
}

.sigAre {
  display: none;
}

.absArea {
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  height: 70px;
}
.usInput {
  all: unset;
  height: 20px;
  width: 180px;
  padding: 5px 10px;
  background-color: rgba(255 255 255 / 0.2);
  border-bottom: 2px solid var(--theme-Color);
  position: absolute;
  bottom: 0;
  color: #000;
}

.usInput:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.signAre label {
  color: #fff;
  width: 180px;
  margin: 10px 5px 5px;
  transform: translate(0px, 35px);
  font-size: 1rem;
  cursor: text;
  transition: all 300ms ease;
}

.lBtn {
  all: unset;
  padding: 5px 10px;
  background-color: #c6c61f;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease;
  margin-top: 35px;
  user-select: none;
}

.lBtn:hover {
  filter: brightness(1.5);
}

.LogInUser {
  all: unset;
  margin-left: auto;
}

.toggleUs {
  color: #eee;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 20px;
}

#funBtnMassage {
  padding: 15px;
  min-width: 100%;
  background-color: #fde63a;
  position: absolute;
  top: -65px;
  font-size: 0.9rem;
  color: #000;
  text-align: center;
  display: none;
  border-radius: 10px;
}
