@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --fontColor: #ccc;
  --ContentNavColor: #aaa;
  --green: rgb(16, 132, 16);
  --red: rgb(187, 8, 8);
  --blue: rgb(15, 88, 198);
  --orange: rgb(255, 176, 29);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #fff;
}

#root {
  position: absolute;
  background: transparent;
  z-index: 9;
  height: 100vh;
  width: 100vw;
}

.loginArea {
  width: 100vw;
  padding: 20px 50px;
  background: linear-gradient(to top, #333, #000);
  box-shadow: 0 0 8px #000;
  color: var(--fontColor);
  justify-content: center;
  font-size: 1.5rem;
  display: flex;
  position: absolute;
  user-select: none;
  z-index: 99;
}

.btn {
  all: unset;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  transition: all 200ms ease;
  user-select: none;
}

.btnLeft {
  border-radius: 8px 0 0 8px;
}

.LogInBtn {
  background: var(--green);
  border: 1px solid rgb(16, 153, 16);
  margin-left: auto;
}

.LogOutBtn {
  background: var(--red);
  border: 1px solid rgb(212, 29, 29);
  margin-left: auto;
}

.btn:hover {
  filter: brightness(1.4);
}

header {
  height: 350px;
  width: 100vw;
  background-color: rgba(11, 10, 10, 0.5);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

main {
  width: 40vw;
  min-height: 100px;
  padding: 10px;
  margin: 40px auto;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 60px #bebebe;
}

.head ul li {
  all: unset;
  display: inline-block;
  font-size: 1.2rem;
  border: 2px solid var(--ContentNavColor);
  padding: 5px 15px;
  list-style-type: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  color: #555;
  margin-left: 2px;
  margin-bottom: -2px;
  user-select: none;
}

.head ul li.active {
  background-color: var(--ContentNavColor);
  color: #fff;
}

.content {
  height: auto;
  min-height: 100px;
  width: auto;
  background-color: var(--ContentNavColor);
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
  transition: all 500ms ease-in;
}

.content .item {
  width: 90%;
  padding: 10px 20px;
  background-color: #fff;
  margin: 20px auto 0;
  display: flex;
  border: 2px solid var(--fontColor);
  justify-content: center;
  border-radius: 5px;
}

.item span {
  padding: 5px;
}

.btnStart {
  background-color: var(--blue);
  margin-left: auto;
}

.btnDone {
  background-color: var(--green);
  margin-left: auto;
}

.btnReturn {
  background-color: var(--orange);
  margin-left: auto;
}

.btnDelete {
  background-color: var(--red);
  /*margin-left: 10px;*/
  border-radius: 0 8px 8px 0;
}

.inputArea {
  margin-top: 20px;
  display: flex;
  font-size: 1.5rem;
}

.btnAdd {
  background-color: var(--green);
  border-radius: 0 8px 8px 0;
  font-size: 1.2rem;
}

.inText {
  all: unset;
  padding: 5px 10px;
  border-radius: 8px 0 0 8px;
  font-size: 1.2rem;
  background-color: #eee;
  transition: filter 300ms ease;
}
.inText:focus {
  filter: brightness(1.5);
}

.emMassage {
  text-align: center;
  margin-top: 30px;
}

.countSpn {
  color: var(--green);
  font-size: 0.8rem;
  margin-left: 8px;
  vertical-align: top;
}

/* Loading */

.lds-hourglass {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: lds-hourglass 1.8s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
